.project-box {
  padding-bottom: 30px;
  
}
.heading {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  border-radius: 5px;
  width: fit-content;
 
  padding: 20px;
}
.card {
  max-width: 450px;
  background-color: rgb(202, 237, 249);
  color: rgb(8, 8, 84); 
  box-shadow: 5px 5px 10px rgb(147, 147, 147);
  border: 1px solid black;
}
@media screen and (max-width: 1130px) {
  .card {
    max-width: 430px;
  }
}
@media screen and (max-width: 1030px) {
  .card {
    max-width: 400px;
  }
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pro-btn {
  font-size: 18px;
}
